$app-green-color: #448F3C;
$grey-color: #F7F7F7;
$grey-text-color : #4D4D4D;
$app-white-color : #FFFFFF;
$app-black-color1 : #0E0E0F;
$light-green-color : #d0eacd;
$light-blue-color : #3B5998;
$light-grey-color : #F5F7F8;
$yellow-back-color : #F4DA37;
$light-pink-color : #FFFCE6;
$pink-color : #ff6055;
$red-color : #F03D37;



$width1: 1280px;
$width2: 1720px;

$maxSmallScreen : 480px;
$minTabScreen : 641px;
$maxTabScreen : 1007px;
$minPCScreen : 1008px;


$XS : 576px;
$SM : 768px;
$MD : 992px;
$LG : 1200px;


$XSH : 576px;
$SMH : 768px;
$MDH : 992px;
$LGH : 1200px;
